* {
    border: 1px solid gold;
}

body {
    margin: 0;
}

#heading {
    text-align: center;
}

h2 {
    margin-left: 16px;
}
.text-center {
    text-align: center;
}
.section-container {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    padding: 25px;

}
.hidden {
    display: none;
}

.visible {
    display: block;
}

/* DESTINATION SECTION */
#destination-form {
    display: flex;
    flex-direction: column;
    gap:10px
}

.search {
    padding: 7px 10px;
}
label {
    font-size: 20px;
}

/* FORECAST STYLING */
.forecast-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    place-self: center;
    padding: 8px 0px;
    border-radius: 7px;
    gap:30px;
    margin: 0 40px;
}

.temps {
    display: flex;
    justify-content: center;
    gap: 30px;
}


.icons {
    display: flex;
    justify-content: center;
}


#friday-icon, #saturday-icon, #sunday-icon {
    height: 100px;
    width: 100px;
    background: no-repeat;
}

/* PACKING LIST STYLING */
#list-section {
    margin-bottom: 20px;
}

#table-container {
    display: table;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.header, .row {
    display: table-row;
}
.column {
    display: table-cell;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

/* change layout at medium screen sizes */
@media (min-width: 768px) {
    .search {
        padding: 10px 150px 10px 0px;
    }
    #heading {
        text-align: left;
    }
    #destination-form {
        gap: 10px; 
        padding-bottom: 37px;
    }
    
    #destination-forecast-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    .section-container {
        width: auto;
    }
/* FORECAST STYLING */
    #forecast-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 38px;
    }

    #location-txt {
        margin: 0;
        font-size: 25px;
    }
    label {
        font-size: 18.5px;
    }

    .forecast-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
    }


    .forecast-date {

        margin-bottom: 10px;
        border-radius: 10px;
    }


    #all-forecast-cards {
        display: flex;
        gap: 50px;

    }


    /* PACKING LIST STYLING */
    #list-section {
        width:63%;
        margin-bottom: 20px;
    }
    .desktop-txt-margin-left {
        margin-left: 230px;
    }

}